{% extends 'flatpages/default.html' %}

{% load custom_filters %}

{% block title %}
объявления
{% endblock title %}

{% block content %}
    <h1>Публикация №1</h1>
    {% if project %}
    <table>
        <tr>
            <td>
                <h4>Заголовок</h4>
            </td>
            <td>
                 <h4>Автор </h4>
            </td>
            <td>
                 <h4>Дата объявления </h4>
            </td>
            <td>
                 <h4>Категория </h4>
            </td>
            <td>
                 <h4>Текст </h4>
            </td>
         </tr>
<hr>
        <tr>
            <td>
                {{ project.title|censor }}
            </td>
            <td>
                {{ project.author.authorUser.username }}
            </td>
            <td>
                {{ project.dateCreation|date:'d-M-Y H:m' }}
            </td>
            <td>
                {{ project.get_categoryType_display }}
            </td>
            <td>
                {{ project.text|censor }}
            </td>
        </tr>
    </table>
    {% else %}
        <h1>Объявлений нет!</h1>
    {% endif %}
{% endblock content %}